h1 {
  text-align: center;
  color: white;
  font-size: 18px;
  padding: 40px 0;
}
h2 {
  text-align: center;
  position: relative;
  bottom: 100px;
  color: #fff;
  right: 60px;
  text-shadow: 5px 5px 20px rgba(14, 14, 14);
}
.night-theme {
  background: linear-gradient(95deg, rgb(52, 7, 63) 10%, rgb(15, 1, 29) 100%);
}
.weather-app {
  background: rgba(218, 164, 207, 0.626);
  box-shadow: 3px 6px 10px 8px rgba(0, 0, 0, 0.5);
  max-width: 600px;
  border-radius: 10px;
}
.row {
  text-align: center;
  margin: 0;
}
.top {
  padding-top: 10px;
  line-height: 0;
}
.sun,
.moon {
  width: 100%;
  display: block;
  margin: 0 auto;
}
.sunrise1,
.sunset2 {
  position: relative;
  bottom: 50px;
  font-size: 14px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-align: center;
  text-shadow: 4px 4px 8px rgba(250, 246, 246, 0.5);
}
.sunrise,
.sunset {
  position: relative;
  bottom: 18px;
}
.sunrise1 {
  color: #c62874;
}
.sunset2 {
  color: #2e486b;
}
.city-form {
  text-align: center;
  display: block;
  margin: 0 auto;
  line-height: 30px;
}
.inside-form,
.my-city {
  border: 2px solid #7a5779;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
  padding: 5px 13px;
}
.my-city {
  background: rgb(198, 40, 116);
  color: #fff;
  border-radius: 10px;
}
.degree-choice {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
}
.degree {
  padding: 10px 80px;
  text-align: center;
  font-family: "Josefin Sans", sans-serif;
  text-shadow: 3px 3px 5px rgba(250, 247, 247, 0.5);
  font-size: 20px;
  color: #711a75;
  background: #f582a7;
  margin: 5px;
  border: none;
  border-radius: 10px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
  transition: all 200ms ease-in-out;
}
.fahrenheit:hover,
.celsius:hover {
  background: #f05687;
  color: black;
  cursor: pointer;
  opacity: 0.8;
}
.forecast-table {
  position: relative;
  bottom: 85px;
  padding: 10px;
}

.thunder {
  display: block;
  margin: 0 auto;
  width: 330px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}
.today-weather {
  color: white;
  font-size: 30px;
  position: relative;
  bottom: 180px;
}
.forecast {
  background: #f582a7;
}
.main {
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}
.today {
  background: rgb(239, 239, 106);
  padding: 8px;
  color: #711a75;
  font-weight: bold;
  box-shadow: 5px 5px 5px #00000080;
  font-size: 18px;
  font-family: "Times New Roman", Times, serif;
}
.day {
  padding: 8px;
  font-size: 16px;
  font-family: "Times New Roman", Times, serif;
  color: #fff;
  font-size: 16px;
}
.button-day {
  background: #f582a7;
  border: none;
  color: #fff;
  font-weight: bold;
}
.button-today {
  background: rgb(239, 239, 106);
  border: none;
  font-family: "Pacifico", cursive;
  font-size: 23px;
  color: #711a75;
}

.date {
  text-align: center;
  color: #f582a7;
  text-shadow: 5px 5px 15px rgba(12, 12, 12, 0.7);
  font-size: 20px;
  line-height: 20px;
}
.highlightDay {
  color: white;
}
.footnote {
  margin-top: 30px;
}
.weather-forecast {
  text-align: center;
  font-family: "Josefin Sans", sans-serif;
  font-size: 20px;
  padding-top: 80px;
  color: #711a75;
  text-shadow: 3px 3px 5px rgba(250, 247, 247, 0.5);
}
.created-by {
  text-align: center;
  font-family: "Josefin Sans", sans-serif;
  font-size: 15px;
  padding: 10px;
  color: #711a75;
}
.portfolio-link,
.GitHub,
.Netlify {
  color: #0f030f;
  text-decoration: none;
}
.portfolio-link:hover,
.GitHub:hover,
.Netlify:hover {
  color: #f7f1f5;
}
